body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url('/Images/istockphoto-1160720443-612x612.jpg');
    background-repeat: repeat;
}

h1{
    color:black
  }


  .contact{
    background-color: #d0fa14;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 2%;
    margin: 2% 10%;
    color: black;
  }

  .contact:hover {
    background-color: #d3d02b;
    border: 3px solid white;
}

.contact{
  background-color: #d0fa14;
  border: 3px solid transparent;
  border-radius: 20px;
  padding: 2%;
  margin: 2% 10%;
  color: black;
}

.contact:hover {
  background-color: #d3d02b;
  border: 3px solid white;
}


  footer {
    background-color: #1F2833;
    text-align: center;
    font-weight: bold;
    color: #66FCF1;
    margin: auto;
    padding: 2%;
    width: 75%;
  }

  ul{
    display: inline;
  }

  li{
    display: inline;
  }


  a{
    text-decoration: none;
    color:red;
    background-color: blanchedalmond;
    margin: 0px;
    margin-left: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: red;
  }